@{
    Layout = null;
}
<li>@Html.ActionLink("Administrators", "Index", "Admins")</li>
<li>@Html.ActionLink("Semsters", "Index", "Semesters")</li>
<li>@Html.ActionLink("Courses", "Index", "Courses")</li>
<li>@Html.ActionLink("Instructors", "Index", "Instructors")</li>
<li>@Html.ActionLink("Students", "Index", "Students")</li>


